
.crugforplanet{
    
    position: absolute;
    width: 504px;
    height: 504px;
    background-color: #54D6FF;
    margin: auto;
    top: 200px;
    
   
    
}

.chik1{
    position: absolute;
width: 100px;
height: 100px;
background-color: #F36AFF;
top: 60px;
right: 3px;


}
.chik2{
    position: absolute;
    
width: 100px;
height: 100px;
background-color: #F36AFF;
top: 60px;
left: 3px;
}
.chik3{position: absolute;
  top: -60px;
  left: 200px;
width: 100px;
height: 100px;
background-color: #F36AFF;
}
.chik4{
    position: absolute;
    width: 100px;
height: 100px;
background-color: #F36AFF;
top: 269px;
left: 3px;
}
.chik5{
    position: absolute;
    width: 100px;
height: 100px;
background-color: #F36AFF;
top: 269px;
right: 3px;
}
.chik6{
    position: absolute;
    width: 100px;
    background-color: #F36AFF;
height: 100px;
right: 97px;
top: 404px;
}
.chik7{
    position: absolute;
    width: 100px;
height: 100px;
background-color: #F36AFF;
left: 97px;
top: 404px;
}
/* for 5 crug */
  /* animation: roma 10s linear infinite; */


/* for 6 crug */
  /* animation: roma 10s linear infinite; */


/* for 4 crug */
    /* animation: roma 10s linear infinite; */

/* .roma{ */
    /* animation: roma 10s linear infinite; */

/* } */
/* .anim{ */
    /* animation: rotateright 10s infinite linear ; */
/* } */
/* @keyframes roma{ */
    /* 0%{ */
        /* transform: rotate(0deg);    */
/*  */
    /* } */
    /* 100%{ */
        /* transform: rotate(-360deg);    */

    /* } */
/* } */
/* @keyframes rotateright{ */
    /* 0%{ */
        /* transform: rotate(0deg);    */

    /* } */
    /* 100%{ */
        /* transform: rotate(360deg);    */

    /* } */
    /* from {
     transform: rotate(0deg);   
    }
    to {
        transform: rotate(360deg);   
    } */
/* } */